.movie-card-div{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.movie-poster{
    display: block;
    position: relative;
    width: 100%;
    max-width: 720px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.poster-overlay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: flex-end; */
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.602);
    padding: 0 20px;
}
.poster-overlay:hover{
    opacity: 1;
}
.poster-overlay > h4{
    color: var(--light); 
}