*{
  box-sizing: border-box;
}
:root{
  --dark: #151515;
  --dark1: #222222;
  --dark2: #333333;
  --light: #FFFFFF;
  --light1: #EEEEEE;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
